.faq-card {
  grid-column: 1 / -1;
  border-radius: 30px;
  background: linear-gradient(
    145deg,
    rgba(50, 5, 18, 0.85),
    rgba(89, 13, 34, 0.78)
  );

    /* background: linear-gradient(
  180deg,
  rgba(50, 5, 18, 0.25),
  rgba(89, 13, 34, 1)
    );
    */
  box-shadow:
  0 0 20px rgba(255,117,143,0.55),
  0 0 40px rgba(164,19,60,0.35),
  0 10px 50px rgba(0,0,0,0.6),

  inset 0 1px 0 rgba(255,255,255,0.12),
  inset 0 -1px 0 rgba(36,3,13,0.38);
  overflow: hidden; 

}